# WordPress core - не отслеживаем
wordpress/
wp-admin/
wp-includes/
dup-installer/
s/
video/
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Конфигурация
wp-config.php            # Создаем из wp-config-sample.php
/wp-config-local.php     # Локальные настройки

# Загрузки
wp-content/uploads/*
!wp-content/uploads/.gitkeep  # Пустой файл для структуры

# Управление плагинами
# 1. Игнорировать все плагины по умолчанию
wp-content/plugins/*
# 2. ИСКЛЮЧЕНИЯ: Разрешить отслеживание кастомных плагинов (их папки)
!wp-content/plugins/woocommerce-quick-view/
!wp-content/plugins/woocommerce-grid-list-toggle/
!wp-content/plugins/woocommerce-and-1centerprise-data-exchange/
!wp-content/plugins/woo-checkout-field-editor-pro/
!wp-content/plugins/search-exclude/
!wp-content/plugins/rss-for-yandex-turbo/
!wp-content/plugins/query-monitor/
!wp-content/plugins/health-check/
!wp-content/plugins/Cyr2lat/
!wp-content/plugins/contact-form-7/
!wp-content/plugins/classic-widgets/
!wp-content/plugins/classic-editor/
!wp-content/plugins/Autoptimize/
!wp-content/plugins/art-woocommerce-order-one-click-change/
!wp-content/plugins/art-woocommerce-order-one-click/
!wp-content/plugins/acf-repeater/
!wp-content/plugins/acf-gallery/
# 3. Игнорировать все файлы ВНУТРИ разрешённых папок, кроме .gitkeep
wp-content/plugins/*/
!wp-content/plugins/*/.gitkeep

# Логи
*.log
error_log

# Системные файлы
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.idea/
.vscode/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log

# Композитор
vendor/
composer.lock

# Базы данных
*.sql
*.sql.gz
!wp-content/backups/*.sql