/*!
Theme Name:   РСУ v.5.0 Beta
Theme URI:    https://rosait.ru/
Author:       Rosait.ru
Author URI:   https://rosait.ru/
Template: storefront
Description:  РСУ - Россайт система управления контентом для Wordpress. Дизайн и верстка всех блоков разработаны компанией Rosait.ru. Интернет-магазин (каталог) сделан на базе WooCommerce и темы Storefront с использованием дизайна и верстки компании Rosait.ru. Конфигурация системы и настройка плагинов сделана компанией Россайт.
Version: 5.0 Beta
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html



v.5.0 Beta
-fix bugs
-update catalog filters
-update product cart

*/
/*
Version: 5.1 Beta - заменён фавикон
*/
/*
Version: 5.1.1 Beta - Добавлена модальная форма обратной связи
*/
/*
Version: 5.1.2 Beta - Решена проблема с параллаксом в яблочных мобилках
*/
